{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Skynet</title>

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    {block head}{/block}
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="{plink Homepage:default}">
            <img src="{$basePath}/images/logo_small.png" style="float: left">
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {if $user->isLoggedIn()}

                    <li class="dropdown{ifCurrent Homepage:default} active{/ifCurrent}{ifCurrent User:manage} active{/ifCurrent} dropdown-name">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hellou {$user->identity->name} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{plink Homepage:default}">Úvod</a></li>
                            <li><a href="{plink User:manage}">Upravit profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{plink Sign:out}">Odhlásit se</a></li>
                        </ul>
                    </li>
                    <li{ifCurrent Homepage:default} class="active"{/ifCurrent}>
                        <a href="{plink Homepage:default}">Úvod</a>
                    </li>
                    <li{ifCurrent Sensor:default} class="active"{/ifCurrent}>
                        <a href="{plink Sensor:default}">Čidla</a>
                    </li>

                    <li class="dropdown{ifCurrent Homepage:vrchy} active{/ifCurrent}{ifCurrent Homepage:vrchyGal} active{/ifCurrent}{ifCurrent Homepage:vrchyGalMain} active{/ifCurrent}{ifCurrent Sensor:vrchy} active{/ifCurrent}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vrchy <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li{ifCurrent Homepage:vrchy} class="active"{/ifCurrent}>
                                <a href="{plink Homepage:vrchy}">Kamery</a>
                            </li>
                            <li{ifCurrent Homepage:vrchyGal} class="active"{/ifCurrent}>
                                <a href="{plink Homepage:vrchyGal}">Galerie nad vchodem</a>
                            </li>
                            <li{ifCurrent Homepage:vrchyGalMain} class="active"{/ifCurrent}>
                                <a href="{plink Homepage:vrchyGalMain}">Galerie hlavní</a>
                            </li>
                            <li{ifCurrent Sensor:vrchy} class="active"{/ifCurrent}>
                                <a href="{plink Sensor:vrchy}">Teplota</a>
                            </li>
                        </ul>
                    </li>
                    <li{ifCurrent Control:default} class="active"{/ifCurrent} n:if="$userRole === $roleADMIN">
                        <a href="{plink Control:default}">Ovládání</a>
                    </li>
                    {*<li></li>*}
                {else}
                    <li>
                        <a href="{plink Sign:in}">Přihlásit se</a>
                    </li>
                {/if}
            </ul>

        </div>
    </div>
</nav>
{if $user->isLoggedIn() || ($control->name === 'Sign' && ($control->action === 'in' || $control->action === 'register'))}
    <div class="{ifCurrent Homepage:vrchyGalMain}container-fluid{else}container{/ifCurrent}">
        {include content}
    </div>
{/if}

{block scripts}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{$basePath}/js/main.js"></script>
{/block}

</body>
</html>
