{block scripts}
    {include #parent}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(document).ready(function () {
            loadImagesGraph();

            var startTimeMS = 0;  // EPOCH Time of event count started
            var timerId;          // Current timer handler
            var timerStep = 30000;   // Time beetwen calls

            function startTimer() {
                startTimeMS = (new Date()).getTime();
                timerId = setTimeout(function () {
                    loadImagesGraph();
                    eventRaised();
                }, timerStep);
            }

            function eventRaised() {
                clearTimeout(timerId); // clear timer
                startTimer(); // do again
            }

            function getRemainingTime() {
                return Math.floor((timerStep - ( (new Date()).getTime() - startTimeMS )) / 1000);
            }

            startTimer();
            setInterval(function () {
                $(".time-to-refresh").text("Do překreslení grafů zbývá " + getRemainingTime() + "s");
            }, 100);

        });

        function loadImagesGraph() {
            google.charts.load('current', {
                packages: ['corechart', 'line'], 'language': 'cs'
            });
//            google.charts.setOnLoadCallback(drawBackgroundColor);
            var params = {};
            window.location.search
                    .replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                                params[key] = value;
                            }
                    );
            $(".graph").each(function () {
                var dataRes = $(this).data("graphtype");
                var uuid = Object.keys(params).length > 0 ? ("&uuid=" + dataRes) : ("&uuid=" + dataRes);
                var lastTempElement = $(".last-temp-" + dataRes);
                var lastWhenElement = $(".last-when-" + dataRes);
                var ajax = $.ajax({
                    url: {plink getTempData!} +uuid,
                    beforeSend: function() {
                        $(".spinner-" + dataRes).css('display', 'inline-block');
                    }
                });

                ajax.success(function (data) {
                    var lastElement = data[data.length - 1];

                    var lastDate = new Date(lastElement[0]);
                    lastWhenElement.text(lastDate.toLocaleString('cs-CZ'));
                    lastTempElement.text(lastElement[1]);
                    drawBackgroundColor(dataRes, data);
                    $(".spinner-" + dataRes).css('display', 'none');
                });

            });

        }

        function drawBackgroundColor(idElement, testData) {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Čas');
            data.addColumn('number', 'Teplota');


            var fullData = [];

            $.each(testData, function (key, val) {
                fullData[key] = [new Date(val[0]), val[1]];
            });

            data.addRows(fullData);

            var options = {
                hAxis: {
                    format: 'HH:mm',
                    gridlines: {
                        count: 15
                    }

                },
                vAxis: {
                    title: 'Teplota',
                },
                backgroundColor: '#f1f8e9',
                legend: {
                    position: 'bottom'
                },explorer: {
                    actions: ['dragToZoom', 'rightClickToReset'],
                    axis: 'horizontal',
                    keepInBounds: true,
                    maxZoomIn: 10.0
                }


            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div_' + idElement));
            chart.draw(data, options)
        }

    </script>
{/block}

{block content}

<div class="row">
    <div class="col-md-3">
        <a href="{plink Sensor:addEdit}" class="btn btn-default">Přidat nové čidlo</a>
    </div>
    <div class="col-md-9">
        {form dateIntervalForm}
            {label interval /}
            <select n:name=interval class="btn btn-default"></select>
            <input n:name=submit class="btn btn-default">
        {/form}
    </div>
    <div class="time-to-refresh"></div>
</div>
<br>
<div n:foreach="$sensors as $sensor">
    <div class="row well">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <small><b>Jméno</b></small>
                </div>
                <div class="col-md-8">{$sensor->name}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <small><b>Poslední&nbsp;°C</b></small>
                </div>
                <div class="col-md-8 last-temp-{$sensor->uuid|codeBase64}">{($temperature($sensor))['value']}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <small><b>Poslední&nbsp;KDY</b></small>
                </div>
                <div class="col-md-8 last-when-{$sensor->uuid|codeBase64}">{($temperature($sensor))['datetime']}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <small><b>Popis</b></small>
                </div>
                <div class="col-md-8">{$sensor->description}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <small><b>UUID</b></small>
                </div>
                <div class="col-md-8">{$sensor->uuid}</div>
            </div>
            <div class="row">
                <a href="{plink Sensor:addEdit uuid => $sensor->uuid}" class="btn btn-default">Upravit čidlo</a>
            </div>
            <div class="row">
                <div class="spinner-{$sensor->uuid|codeBase64}" style="padding-top: 15px; display: inline-block;">
                    <h3>Načítám data grafu...&nbsp;<img src="{$basePath}/images/spinner.gif"></h3>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="text-align: center">
            {php $uuid = base64_encode($sensor->uuid)}
            <div><strong><small>Vybráním oblasti v grafu data přiblížíš, pravým klikem do grafu oddálíš</small></strong></div>
            <span class="graphImage-{$sensor->uuid|codeBase64}">
                <div class="graph" id="chart_div_{$sensor->uuid|codeBase64}" data-graphType="{$sensor->uuid|codeBase64}"></div>
            </span>
            <a href="{plink Sensor:graph uuid => $uuid}" target="_blank">
                Otevřít tento graf v novém okně
            </a>
        </div>
    </div>
</div>
{*<img src="{$graph}">*}